#im1{
    margin-left: 400px;
    height: 300px; 
    width: 500px; 
}
#im2{
   margin-left: 400px;
   height: 300px;
   width: 500px;
}
#im3{
    margin-left: 400px;
    height: 300px;
    width: 500px;
}
body{
    background-color: rgba(56, 50, 41, 0.349);
}